body {
    background: #ddd;

    font-family: Sans-Serif;

    line-height: 1.5;
}

article {
    margin-left: auto;
    margin-right: auto;

    max-width: 768px;
}

pre {
    background: #fafefe;
    padding: 0.5em;
}
